@model TestingFramework.ViewModels.Scorecard.ScorecardProgressViewModel

@{
    ViewData["Title"] = "Progress";
}

<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>

<style>
    .h3-btn {
        width: 150px;
        margin-left: 25px;
    }

    .row-btn {
        width: 100px;
    }

    .header {
        text-align: center;
    }

    .desc-label {
        font-weight: bold;
        padding-top: 5px;
    }

    .passed-label {
        color: green;
        font-style: italic;
        font-weight: bold;
    }

    .failed-label {
        color: red;
        font-style: italic;
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    var scrollToDiv = '@Model.ScrollToDiv';
    console.log("Scrolling to div " + scrollToDiv);

    window.location.hash = scrollToDiv;
</script>

<h1>Scorecard Progress Overview</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scorecard.Name)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scorecard.Description)
        </dd>
        <dt class="col-sm-2">
            Details
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Progress.ScorecardNotes)
        </dd>
        <dt class="col-sm-2">
            Completed
        </dt>
        <dd class="col-sm-10">
            @{
                var completed = Model.GetCompletedString();
            }
            @Html.DisplayFor(model => completed)
        </dd>
        <dt class="col-sm-2">
            Current Score
        </dt>
        <dd class="col-sm-10">
            @{
                var score = Model.GetCurrentScore();
            }
            @Html.DisplayFor(model => score)
        </dd>
    </dl>
    <br />
    <div class="form-group">
        @Html.ActionLink("Submit", "SubmitProgress", new { id = Model.Progress.ID }, new { @class = "btn btn-success h3-btn", @style = "float:right" })
        @Html.ActionLink("Details", "ProgressDetails", new { id = Model.Progress.ID }, new { @class = "btn btn-primary h3-btn", @style = "float:right" })
    </div>
</div>
<br />
<hr />
<br />
<br />
<br />

@foreach (var category in Model.Categories)
{
    var categoryTests = Model.Scorecard.Tests.Where(t => t.CategoryID == category.ID);
    var defaultTest = categoryTests.FirstOrDefault();
    var categoryCompletion = Model.CategoryCompletePercentages.GetValueOrDefault(category.ID);
    var categoryDivID = $"category-{category.ID}";

    <div id='@categoryDivID'>
        <h2 style="float:left">@category.Name</h2>
        <br />
        <br />
        <br />

        @foreach (var test in categoryTests)
        {
            var testStatus = Model.GetTestStatusString(test.ID, out var testPassed);
            var testDivID = $"test-{test.ID}";

            <div id="@testDivID">

                <label class="desc-label">Description: </label> @test.Description <br />
                @if (!string.IsNullOrEmpty(test.ExpectedResult))
                {
                    <label class="desc-label">Expected Result: </label> @test.ExpectedResult <br />
                }
                <label class="desc-label">Status: </label>

                @if (testPassed == true)
                {
                    <label class="passed-label">@testStatus</label>
                }
                else if (testPassed == false)
                {
                    <label class="failed-label">@testStatus</label>
                }
                else
                {
                    <label>@testStatus</label>
                }

                <br />
                <br />
                @Html.ActionLink("Details", "EditTestResult", new { id = Model.Progress.ID, testID = test.ID },
                    new { @class = "btn btn-secondary btn-sm row-btn", @style = "float:left" })
                @Html.ActionLink("Pass", "UpdateTestResult", new { progressID = Model.Progress.ID, testID = test.ID, passed = true },
                    new { @class = "btn btn-success btn-sm row-btn", @style = "float:right" })
                @Html.ActionLink("Fail", "UpdateTestResult", new { progressID = Model.Progress.ID, testID = test.ID, passed = false },
                    new { @class = "btn btn-danger btn-sm row-btn", @style = "float:right; margin-right: 10px;" })
                <br />
                <hr />
            </div>
        }
        <br />
        <br />
    </div>
}
