@model TestingFramework.ViewModels.Scorecard.ResultsViewModel


@{
    ViewData["Title"] = "Results";
}

<style>
    .action-btn {
        width: 100px;
    }
</style>

<h1>Scorecard Results</h1>
<hr />

<h3>In Progress</h3>
<table class="table">
    <thead>
        <tr>
            <th width="20%">
                Started
            </th>
            <th width="25%">
                Scorecard
            </th>
            <th width="25%">
                User
            </th>
            <th width="10%">
                Completed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ScorecardsInProgress)
        {
            var scorecardName = Model.Scorecards.FirstOrDefault(sc => sc.ID == item.ScorecardID).Name;
            var progress = Model.GetProgress(item.ID);

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Started)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => scorecardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => progress)
                </td>
                <td>
                    @if (User.Identity.Name == item.User)
                    {
                        @Html.ActionLink("Resume", "Progress", "Scorecard", new { id = item.ID }, new { @class = "btn btn-sm btn-success action-btn", @style = "float:right" })
                    }
                    else
                    {
                        @Html.ActionLink("Details", "ProgressDetails", "Scorecard", new { id = item.ID }, new { @class = "btn btn-sm btn-primary action-btn", @style = "float:right" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />

<h3>Completed</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Completed
            </th>
            <th>
                Name
            </th>
            <th>
                User
            </th>
            <th>
                Notes
            </th>
            <th>
                Score
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            var scorecardName = Model.GetScorecardName(item.ScorecardID);
            var score = Model.GetResultsScore(item.ID);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedTimestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => scorecardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScorecardNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => score)
                </td>
                <td>
                    @Html.ActionLink("Details", "ResultsDetails", new { id = item.ID }, new { @class = "btn btn-sm btn-primary action-btn", @style = "float:right" })
                </td>
            </tr>
        }
    </tbody>
</table>
