@model TestingFramework.ViewModels.CategoryDetailsViewModel

@{
    ViewData["Title"] = "Category Details";
}

<style>
    .edit-btn {
        width: 100px;
    }
</style>

<h1>Category Details</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
        <dt class="col-sm-2">
            Test Count
        </dt>
        <dd class="col-sm-10">
            @{
                var testCount = Model.Tests.Count();
            }
            @Html.DisplayFor(model => testCount)
        </dd>
    </dl>
    <div>
        @Html.ActionLink("Delete", "DeleteCategory", new { id = Model.Category.ID }, new { @class = "btn btn-danger btn-sm edit-btn", @style = "float:left" })
    </div>
    <div style="float:right">
        @Html.ActionLink("Edit Details", "EditCategoryDetails", new { id = Model.Category.ID }, new { @class = "btn btn-secondary btn-sm edit-btn" })
        @Html.ActionLink("Create Test", "CreateCategoryTest", new { id = Model.Category.ID }, new { @class = "btn btn-success btn-sm edit-btn" })
    </div>
    <br />
    <br />
    <br />
    <br />

    <h3 style="float: left">Tests</h3>
    <table class="table">
        @{
            var defaultTest = Model.Tests.FirstOrDefault();
        }
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Expected Result
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tests)
            {
                <tr>
                    <td width="20%">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td width="60%">
                        @Html.DisplayFor(modelItem => item.ExpectedResult)
                    </td>
                    <td width="20%">
                        @Html.ActionLink("Edit", "EditCategoryTest", new { id = item.ID }, new { @class = "btn btn-primary btn-sm edit-btn", @style = "float:right" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to Setup</a>
</div>
